@charset "UTF-8";

.row {
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width:480px) {
  #wrap {
    padding-top: 54px;
  }


  .breadcrumb1 {
    max-width: 1000px;
    margin: 8px auto 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4%;
    box-sizing: content-box !important;
}
  .breadcrumb-item {
    font-size: 1.1rem;
    letter-spacing: .1em;
    list-style: none;
  }
  .breadcrumb-item:after {
    content: '＞';
    position: relative;
    margin: 0 8px;
    font-size: 10px;
    display: inline-block;
    font-weight: 600;
  }
  .breadcrumb-item:last-child:after {
    display: none;
  }
  .breadcrumb-link {
    color: #0087c6;
    padding: 0 0 2px;
    display: inline-block;
}
/*
  .main {
    background: url(/img/company/message/mv_bg.jpg) no-repeat top right 48%/cover;
    color: #FFF;
    padding: 15% 0;
  }
  .main-ttl {
    font-size: 3rem;
    display: inline-block;
    border-bottom: solid 2px #FFF;
    padding-bottom: 10px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .main-name {
    font-size: 1.8rem;
  }
  .main-name span {
    font-size: 70%;
    display: block;
  }
  .cmn-ttl-01 {
    color: #815a00;
    font-size: 2.6rem;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  .cmn-ttl-01-below {
    font-size: 1.2rem;
    color: #cdb784;
    display: block;
    letter-spacing: .1em;
  }
  .cmn-ttl-02 {
    font-size: 2.2rem;
    color: #815a00;
    margin-bottom: 20px;
  }
  .cmn-ttl-02::after {
    content: '';
    width: 0.8em;
    height: 2px;
    background: #cdb784;
    display: block;
    margin-left: .1em;
  }
  .message {
    padding: 40px 0 100px;
    position: relative;
  }
  .message::after {
    content: '';
    width: 50%;
    height: 30%;
    background: url(/img/company/message/line.png);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .message-block {
    position: relative;
    max-width: 1530px;
    margin: 0 auto;
  }
  .message-block-02 {
    padding: 56% 0 60px;
    margin: 0 0 50px;
  }
  .message-block-02-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .message-block-02 {
    position: relative;
  }
  .message-block-02:after {
    content: '';
    width: 40%;
    height: 20%;
    background: url(/img/company/message/dot.png);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .message-block-03 {
    position: relative;
  }
  .message-block-03:after {
    content: '';
    width: 100%;
    height: 100%;
    background: url(/img/company/message/line.png);
    position: absolute;
    top: 5%;
    left: 0;
    z-index: -1;
  }
  .message-block-03-img {
    width: 60%;
    margin: 0 auto 20px;
  }
  .message-block-contents {
    padding: 20px 20px;
    background: #FFF;
    position: relative;
    z-index: 1;
  }
  .message-block-txt {
    margin-bottom: 30px;
  }
  .message-block-txt strong {
    font-weight: 600;
  }
  .message-block-img {
    position: absolute;
  }
  .message-block-name {
    display: block;
    text-align: right;
    margin: 20px 0 0;
    font-size: 1.4rem;
  }
  .message-block-img01 {
    top: -40px;
    right: 0;
    width: 40%;
  }
  .message-block-img02 {
    top: 0;
    right: 0;
    width: 10%;
  }
  .message-block-img03 {
    bottom: 0;
    left: 0;
    width: 10%;
    z-index: 1;
  }
  .message-block-img04 {
    top: 10%;
    left: 16%;
    width: 10%;
  }
  .message-profile-txt {
    margin-bottom: 2.5rem;
  }
  .message-profile-item {
    display: flex;
    margin-bottom: 5px;
  }
  .message-profile-item dt {
    color: #cdb784;
    min-width: 4em;
    margin-right: 5px;
  }
   .mainArea {
    text-align: center;
  }
  */
  .onlinetour {
    text-align: center;
    padding: 0 0 50px;
  }
  .onlinetour p{
    margin:0 auto;
    width:60%;
  }

 
}

@media all and (min-width:481px) {
  .breadcrumb {
    max-width: 1180px;
    margin: 14px auto 12px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4%;
    box-sizing: content-box !important;
}
  .breadcrumb-item {
    font-size: 1.2rem;
    letter-spacing: .1em;
    list-style: none;
  }
  .breadcrumb-item:after {
    content: '＞';
    position: relative;
    margin: 0 8px;
    font-size: 10px;
    display: inline-block;
    font-weight: 600;
  }
  .breadcrumb-item:last-child:after {
    display: none;
  }
  .breadcrumb-link {
    color: #0087c6;
    padding: 0 0 2px;
    display: inline-block;
}
/*
  .main {
    background: url(/img/company/message/mv_bg.jpg) no-repeat center,#a78d50;
    color: #FFF;
    height: 545px;
    padding-top: 180px;
  }
  .main-ttl {
    font-size: 7rem;
    display: inline-block;
    border-bottom: solid 2px #FFF;
    padding-bottom: 10px;
    line-height: 1.3;
    margin-bottom: 80px;
  }
  .main-name {
    font-size: 2.6rem;
  }
  .main-name span {
    font-size: 70%;
    display: block;
  }
  .cmn-ttl-01 {
    color: #815a00;
    font-size: 4rem;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .cmn-ttl-01-below {
    font-size: 1.6rem;
    color: #cdb784;
    display: block;
    letter-spacing: .1em;
  }
  .cmn-ttl-02 {
    font-size: 3rem;
    color: #815a00;
    margin-bottom: 25px;
    font-weight: 500;
  }
  .cmn-ttl-02::after {
    content: '';
    width: 0.8em;
    height: 2px;
    background: #cdb784;
    display: block;
    margin-left: .1em;
  }
  .message {
    padding: 80px 0 180px;
    position: relative;
  }
  .message::after {
    content: '';
    width: 50%;
    height: 38%;
    background: url(/img/company/message/line.png);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .message-block-inner {
    position: relative;
    max-width: 1530px;
    margin: 0 auto;
  }
  .message-block-contents {
    padding: 50px 50px;
    background: #FFF;
    position: relative;
    z-index: 1;
  }
  .message-block-02 .message-block-inner  {
    padding: 330px 0 120px;
    margin: 110px auto 30px;
  }
  .message-block-02-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .message-block-02 {
    position: relative;
  }
  .message-block-02:after {
    content: '';
    width: 35%;
    height: 320px;
    background: url(/img/company/message/dot.png);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .message-block-03 {
    position: relative;
  }
  .message-block-03:after {
    content: '';
    width: 100%;
    height: 96%;
    background: url(/img/company/message/line.png);
    position: absolute;
    top: 4%;
    left: 0;
    z-index: -1;
  }
  .message-block-03 .inner {
    position: relative;
  }
  .message-block-03-img {
    position: absolute;
    top: -20px;
    left: 0;
  }
  .message-block-02 .message-block-contents {
    width: 800px;
    margin-left: auto;
  }
  .message-block-03 .message-block-contents {
    width: 660px;
    margin-left: auto;
    position: relative;
    left: 120px;
  }

  .message-block-txt {
    margin-bottom: 35px;
    font-size: 1.8rem;
    line-height: 1.9;
  }
  .message-block-txt strong {
    font-weight: 600;
  }
  .message-block-img {
    position: absolute;
  }
  .message-block-img img {
    width:100%;
  }
  .message-block-name {
    display: block;
    text-align: right;
    margin: 10px 0 0;
  }
  .message-block-img01 {
    top: -120px;
    right: 0;
  }
  .message-block-img02 {
    top: 0;
    right: 0;
  }
  .message-block-img03 {
    bottom: 135px;
    left: 0;
  }
  .message-block-img04 {
    bottom: -30px;
    left: calc(50% - 590px);
  }
  .message-profile-txt {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
  }
  .message-profile-item {
    display: flex;
    margin-bottom: 5px;
    font-size: 1.7rem;
  }
  .message-profile-item dt {
    color: #cdb784;
    min-width: 4em;
    margin-right: 5px;
  }
  */
  .onlinetour {
    text-align: center;
    padding: 0px 0 100px;
  }
  .onlinetour img{
    width: 100%;
  }

  .pnlinetour p{
    width:50%;
  }
}

@media (min-width: 481px) and (max-width:1200px) {
  .message-block-img01 {
    width: 42%;
}
  .message-block-img02 {
      width: 7.6%;
  }
  .message-block-img03 {
    width: 7.6%;
  }
  .message-block-img04 {
    left: calc(50% - 560px);
    width: 8%;
}
  .message-block-02-img {
    left: calc(50% - 780px);
  }
}

.onlinetour {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.onlinetour .btn {
  max-width: 330px;
  margin-right: auto;
  margin-left: auto;
}
