@charset "UTF-8";
.visible-pc-block {
  display: none !important;
}

.visible-pc-inline {
  display: none !important;
}

.visible-pc-inline-block {
  display: none !important;
}

.visible-sp-block {
  display: block !important;
}

.visible-sp-inline {
  display: inline !important;
}

.visible-sp-inline-block {
  display: inline-block !important;
}

#sb-site {
  padding-top: 60px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2em;
  font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
}

.container {
  padding: 0 10px;
  overflow: hidden;
  clear: both;
}

.pt {
  padding: 15px;
  background-color: #2e522e;
  background-image: -moz-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -webkit-gradient(linear, color-stop(0, #315730), color-stop(0.28, #234024), color-stop(0.97, #17271a));
  background-image: -webkit-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -ms-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730);
  border-bottom: 5px solid  #9D8A39;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.0rem;
  color: #F2F2CA;
  line-height: 1.1;
}

.go2top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  z-index: 999;
}
.go2top p a {
  display: block;
  background: #bd8d4d;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 2.6rem;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.fixed__header {
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 1030;
}

.header {
  height: 60px;
  border-bottom: 1px solid  #ccc;
  position: relative;
}
.header h1 {
  margin: 0 auto;
  padding-top: 10px;
  width: 90px;
}
.header .sb--btn {
  position: absolute;
  top: 1.0rem;
  right: 15px;
  color: #2e522e;
  line-height: 1.0;
  text-align: center;
}
.header .sb--btn i {
  margin-bottom: -3px;
  display: block;
  font-size: 3.0rem;
}
.header .sb--btn span {
  font-size: 0.8rem;
}

.sb-slidebar {
  background: #F0F0F0;
}
.sb-slidebar .sb__btn {
  padding: 15px;
}
.sb-slidebar .sb__btn p {
  margin-bottom: 15px;
}
.sb-slidebar .sb__btn ul li {
  margin-bottom: 5px;
}
.sb-slidebar .sb__btn ul li a {
  padding: 10px;
  display: block;
  background: #ccc;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.sb-slidebar .sb__btn ul .sb__btn--request a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #1d3717), color-stop(0, #5b7555));
  background: -webkit-linear-gradient(#5b7555, #1d3717);
  background: linear-gradient(#5b7555, #1d3717);
}
.sb-slidebar .sb__btn ul .sb__btn--kengaku a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #9c7502), color-stop(0, #d8b13e));
  background: -webkit-linear-gradient(#d8b13e, #9c7502);
  background: linear-gradient(#d8b13e, #9c7502);
}
.sb-slidebar .sb__btn ul .sb__btn--contact a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #8f161b), color-stop(0, #ca5056));
  background: -webkit-linear-gradient(#ca5056, #8f161b);
  background: linear-gradient(#ca5056, #8f161b);
}
.sb-slidebar .sb__main ul {
  border-top: 1px solid  #999;
}
.sb-slidebar .sb__main ul li {
  border-top: 1px solid  #fff;
  border-bottom: 1px solid  #999;
  text-align: center;
}
.sb-slidebar .sb__main ul li a {
  padding: 15px;
  display: block;
  color: #333;
  font-size: 1.6rem;
}
.sb-slidebar .sb__main ul li span {
  margin-bottom: 10px;
  padding-top: 15px;
  display: inline-block;
}
.sb-slidebar .sb__main ul ul {
  border-top: none;
  background: #fff;
}
.sb-slidebar .sb__main ul ul li {
  border-top: 1px dotted #ccc;
  border-bottom: none;
}
.sb-slidebar .sb__main ul ul li a {
  padding: 10px;
  font-size: 1.2rem;
}

.footerLink {
  background-color: #2e522e;
  background-image: -moz-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -webkit-gradient(linear, color-stop(0, #315730), color-stop(0.28, #234024), color-stop(0.97, #17271a));
  background-image: -webkit-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -ms-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730);
  color: #fff;
}
.footerLink .container {
  padding: 0;
}
.footerLink .container .column h3 {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 1.0;
  font-weight: bold;
}
.footerLink .container .column ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footerLink .container .column ul li:first-child {
  border-top: none;
}
.footerLink .container .column ul li a {
  padding: 10px;
  display: block;
  line-height: 1.0;
  color: #fff;
  text-decoration: none;
  position: relative;
  opacity: 0.7;
}
.footerLink .container .column ul li a:after {
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 1.2rem;
  position: absolute;
  top: 1rem;
  right: 10px;
}

.footerContact {
  padding: 10px 0;
}
.footerContact div {
  overflow: hidden;
}
.footerContact div p {
  margin: 0 auto 10px;
  width: 70%;
}
.footerContact div ul {
  overflow: hidden;
}
.footerContact div ul li {
  float: left;
  width: 33%;
}

.footerBottom {
  padding: 10px;
  background: #182A1B;
  color: #fff;
  font-size: 1.4rem;
}
.footerBottom p {
  margin-bottom: 10px;
  text-align: center;
}
.footerBottom a {
  color: #fff;
}

.facilityOther {
  margin: 0 -5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.facilityOther div {
  margin-bottom: 10px;
  padding: 0 5px;
  width: 50%;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.facilityOther div p {
  margin: 0 0 3px 0;
  font-size: 1.2rem;
}
.facilityOther div .photo {
  margin-bottom: 5px;
}
.facilityOther div h5 {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}
.facilityOther div h5 a {
  text-decoration: underline;
  color: #333;
}

.facilityList {
  padding: 20px 0;
}
.facilityList .lead {
  margin-bottom: 20px;
  text-align: center;
}
.facilityList .lead h2 {
  font-size: 2.0rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #09483E;
}
.facilityList .inner .region {
  margin-bottom: 10px;
}
.facilityList .inner .region h3 {
  background-color: #2e522e;
  background-image: -moz-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -webkit-gradient(linear, color-stop(0, #315730), color-stop(0.28, #234024), color-stop(0.97, #17271a));
  background-image: -webkit-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -ms-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730);
}
.facilityList .inner .region h3 a {
  padding: 10px 10px 10px 35px;
  display: block;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.0;
  background: url(../../images/facilityList_bars.png) no-repeat 10px 10px;
  background-size: 16px;
}
.facilityList .inner .region ul {
  background: #F4F2EA;
  border: 1px solid  #ccc;
  border-top: none;
  display: none;
}
.facilityList .inner .region ul li {
  border-top: 1px solid  #ccc;
}
.facilityList .inner .region ul li a {
  padding: 10px;
  display: block;
  color: #333;
}
.facilityList .inner .region ul li a:before {
  content: '\f0da';
  font-family: FontAwesome;
  color: #F6A467;
  margin-right: 5px;
}

#index .feature {
  padding: 20px 0;
  background-color: #2e522e;
  background-image: -moz-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -webkit-gradient(linear, color-stop(0, #315730), color-stop(0.28, #234024), color-stop(0.97, #17271a));
  background-image: -webkit-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -ms-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730);
}
#index .feature h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #F3F2CA;
  font-size: 2.0rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.0;
}
#index .feature ul {
  margin: 0 -10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#index .feature ul li {
  margin-bottom: 15px;
  padding: 0 10px;
  width: 50%;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#index .feature ul li img {
  margin-bottom: 5px;
  display: inline-block;
}
#index .facilityArea {
  padding: 20px 0;
}
#index .facilityArea .lead {
  margin-bottom: 10px;
  text-align: center;
}
#index .facilityArea .lead h2 {
  font-size: 2.0rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #09483E;
}
#index .facilityArea .facilityArea__map {
  position: relative;
}
#index .facilityArea .facilityArea__map ul {
  width: 100%;
}
#index .facilityArea .facilityArea__map ul li {
  position: absolute;
  top: 0;
  left: 0;
}
#index .facilityArea .facilityArea__map ul .map_all {
  z-index: 2;
}
#index .facilityArea .facilityArea__map .badge {
  width: 18%;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 3;
}
#index .facilityArea .facilityArea__map .map_close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  line-height: 1.0;
  z-index: 2;
  cursor: pointer;
  color: #999;
  display: none;
}
#index .facilityArea .facilityArea__map .map_close:hover {
  color: #000;
}
#index .information {
  padding: 20px 0 1px;
  background-color: #2e522e;
  background-image: -moz-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -webkit-gradient(linear, color-stop(0, #315730), color-stop(0.28, #234024), color-stop(0.97, #17271a));
  background-image: -webkit-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -ms-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730);
}
#index .information h2 {
  margin-bottom: 20px;
  font-size: 2.0rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #fff;
  line-height: 1.0;
  text-align: center;
}
#index .information .column {
  margin-bottom: 20px;
  background: #fff;
}
#index .information .column .column--inner {
  background: #fff;
}
#index .information .column .column--inner h3 {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.0rem;
  line-height: 60px;
  text-align: center;
}
#index .information .column .column--inner iframe {
  width: 100%;
  height: 300px;
}
#index .information .information__blog .column--inner h3 {
  color: #09483e;
}
#index .pickup {
  padding: 20px 0;
}
#index .pickup h2 {
  margin-bottom: 20px;
  font-size: 2.0rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #09483E;
  text-align: center;
  line-height: 1.0;
}
#index .pickup ul {
  margin: 0 -5px;
}
#index .pickup ul li {
  margin-bottom: 10px;
  padding: 0 5px;
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#index .links {
  padding: 20px 0;
  background: #eee;
}
#index .links .wrap {
  margin-bottom: 20px;
  border-bottom: 1px solid  #ccc;
  clear: both;
}
#index .links .wrap h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  text-align: center;
}
#index .links .wrap ul {
  overflow: hidden;
}
#index .links .wrap ul li {
  margin-bottom: 10px;
  padding: 0 5px;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#index .links .wrap--end {
  margin-bottom: 0;
  border-bottom: none;
}

.facility__index .content {
  padding-top: 40px;
}
.facility__index .content .row {
  padding-bottom: 80px;
}
.facility__index .content .row h3 {
  margin-bottom: 20px;
  padding: 10px;
  background: #2e522e;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.0;
}

.facility__detail .lead {
  padding: 20px 0;
  background-color: #2e522e;
  background-image: -moz-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -webkit-gradient(linear, color-stop(0, #315730), color-stop(0.28, #234024), color-stop(0.97, #17271a));
  background-image: -webkit-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -ms-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730);
  color: #fff;
  border-bottom: 7px solid  #9D8A39;
}
.facility__detail .lead .left {
  margin-bottom: 10px;
}
.facility__detail .lead .left .heading {
  margin-bottom: 10px;
  padding: 5px;
  background: #9D8A33;
  border: 1px solid  #fff;
  font-size: 1.4rem;
  line-height: 1.0;
}
.facility__detail .lead .left h2 {
  font-size: 1.4rem;
  overflow: hidden;
}
.facility__detail .lead .left h2 em {
  margin-right: 5px;
  padding-top: 0.8rem;
  float: left;
}
.facility__detail .lead .left h2 strong {
  float: left;
  font-size: 2.5rem;
}
.facility__detail .lead .left .text {
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.facility__detail .lead .left ul {
  margin: 0 -2px;
  overflow: hidden;
}
.facility__detail .lead .left ul li {
  margin-bottom: 4px;
  padding: 0 2px;
  float: left;
  width: 33.3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.facility__detail .lead .right .visual {
  margin-bottom: 40px;
}
.facility__detail .lead .right .visual p {
  display: none;
}
.facility__detail .lead .right .btnBlog {
  margin: 0 auto;
  width: 50%;
}
.facility__detail .facility__inner .wrap {
  margin-top: 40px;
}
.facility__detail .facility__inner .wrap h3 {
  margin-bottom: 10px;
  padding: 0 0 10px 30px;
  border-bottom: 1px solid  #ccc;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.0;
}
.facility__detail .facility__inner .wrap .content .row {
  margin-top: 20px;
}
.facility__detail .facility__inner .wrap .content h4 {
  margin-bottom: 5px;
  font-size: 2.0rem;
}
.facility__detail .facility__inner .wrap .content table {
  margin-bottom: 5px;
  width: 100%;
}
.facility__detail .facility__inner .wrap .content table tr {
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.facility__detail .facility__inner .wrap .content table th, .facility__detail .facility__inner .wrap .content table td {
  padding: 5px;
  border-bottom: 1px solid  #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.facility__detail .facility__inner .wrap .content table th {
  width: 40%;
  background: #E4E4E4;
}
.facility__detail .facility__inner .wrap .content table td {
  width: 60%;
}
.facility__detail .facility__inner .wrap .content table strong {
  font-size: 1.8rem;
}
.facility__detail .facility__inner .wrap .content p {
  margin-bottom: 20px;
  font-size: 1.4rem;
}
.facility__detail .facility__inner .wrap .content p.small {
  font-size: 1.2rem;
}
.facility__detail .facility__inner .wrap .content .facilitySlider .facilitySlider--big {
  margin-bottom: 4px;
}
.facility__detail .facility__inner .wrap .content .facilitySlider .bx-rooms-pager {
  margin: 0 -2px 10px;
  overflow: hidden;
}
.facility__detail .facility__inner .wrap .content .facilitySlider .bx-rooms-pager li {
  padding: 0 2px;
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.facility__detail .facility__inner .wrap .content .facilitySlider .bx-rooms-pager li a {
  padding: 1px;
  display: block;
  border: 1px solid  #ccc;
}
.facility__detail .facility__inner .wrap .content .facilitySlider .bx-rooms-pager li a.active {
  border: 1px solid  #f00;
}
.facility__detail .facility__inner .wrap .content .facilitySlider .facilitySlider__text {
  padding: 7px;
  border: 1px solid #ccc;
}
.facility__detail .facility__inner .wrap .content .facilitySlider .facilitySlider__text p {
  margin: 0;
}
.facility__detail .facility__inner .wrap .content .facilityGallery ul {
  margin: 0 -5px;
  overflow: hidden;
}
.facility__detail .facility__inner .wrap .content .facilityGallery ul li {
  margin-bottom: 10px;
  padding: 0 5px;
  float: left;
  width: 50%;
  font-size: 1.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.facility__detail .facility__inner .wrap .content .facilityGallery ul li img {
  display: inline;
}
.facility__detail .facility__inner .wrap .content .facilityFloor table td {
  width: 50%;
  border: none;
}
.facility__detail .facility__inner .wrap .content .facilityFloor table td p {
  margin: 0;
  text-align: center;
  line-height: 1.0;
  font-size: 1.4rem;
}
.facility__detail .facility__inner .wrap .content .facilityFloor table td p img {
  margin: 5px auto 0;
  width: 70%;
}
.facility__detail .facility__inner .wrap .content .facilityOther div .service {
  margin: 0 0 3px 0;
  font-size: 1.2rem;
}
.facility__detail .facility__inner .wrap .content .facilityOther div .photo {
  margin-bottom: 5px;
}
.facility__detail .facility__inner .wrap .content .facilityOther div .address {
  font-size: 1.2rem;
}
.facility__detail .facility__inner .outline h3 {
  background: url(../../images/facility/icn_outline.gif) no-repeat 0 0;
  background-size: 22px auto;
}
.facility__detail .facility__inner .access h3 {
  background: url(../../images/facility/icn_access.gif) no-repeat 0 0;
  background-size: 22px auto;
}
.facility__detail .facility__inner .access iframe {
  margin: 0 auto;
  display: inherit;
  width: 95%;
  height: 240px;
}
.facility__detail .facility__inner .inside h3 {
  background: url(../../images/facility/icn_inside.gif) no-repeat 0 0;
  background-size: 22px auto;
}
.facility__detail .facility__inner .other h3 {
  background: url(../../images/facility/icn_other.gif) no-repeat 0 0;
  background-size: 22px auto;
}

.feature__detail {
  padding: 10px;
  min-height: 350px;
}
.feature__detail h3 {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.0;
  background: #D8D09D;
}
.feature__detail .feature__detail__inner .text {
  margin-bottom: 10px;
}

.outline {
  margin-bottom: 40px;
}
.outline .pt {
  margin-bottom: 40px;
}
.outline .outline__table {
  margin-bottom: 40px;
}
.outline .outline__table table {
  width: 100%;
}
.outline .outline__table table th, .outline .outline__table table td {
  display: block;
  width: 100%;
  text-align: left;
}
.outline .outline__table table th {
  margin-bottom: 10px;
  padding: 7px;
  background: #eee;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.outline .outline__table table td {
  margin-bottom: 20px;
}
.outline .iso9001 h3 {
  margin-bottom: 20px;
  padding: 10px;
  background: #2e522e;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}

.history {
  margin-bottom: 40px;
}
.history table {
  width: 100%;
}
.history table th, .history table td {
  display: block;
  text-align: center;
}
.history table th {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid  #ccc;
  font-weight: bold;
  font-size: 1.6rem;
}
.history table td {
  margin-top: 10px;
}
.history table tr:first-child th {
  border-top: none;
}
.history table .history_table_bgc {
  color: #f63;
}

.kouhochi .pt {
  margin-bottom: 40px;
}
.kouhochi .row {
  margin-bottom: 40px;
}
.kouhochi h3 {
  margin-bottom: 10px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.8rem;
}
.kouhochi p {
  margin-bottom: 10px;
}
.kouhochi .btn {
  margin: 0 auto;
  max-width: 600px;
}
.kouhochi table {
  width: 100%;
}
.kouhochi table th, .kouhochi table td {
  padding: 15px;
  border: 1px solid  #ccc;
}
.kouhochi table th {
  background: #eee;
  font-weight: bold;
}
.kouhochi .lead .img {
  margin-bottom: 20px;
}
.kouhochi .inquiry {
  text-align: center;
}
.kouhochi .inquiry p {
  margin-bottom: 20px;
}

.process .content {
  margin-bottom: 80px;
  padding-top: 40px;
}
.process .content .flow {
  padding: 5px;
  border: 1px dotted #ccc;
}
.process .content .flow table {
  margin-bottom: 20px;
  width: 100%;
}
.process .content .flow table th, .process .content .flow table td {
  display: block;
}
.process .content .flow table th {
  margin-bottom: 10px;
  padding: 3px;
  background: #f1d35c;
  font-size: 1.6rem;
  color: #fff;
}
.process .content .flow table td h3 {
  margin-bottom: 5px;
  font-size: 2.0rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #2e522e;
  text-align: center;
}
.process .content .flow .res {
  padding: 10px;
  background: #d6e8f2;
}
.process .content .arrow {
  text-align: center;
  font-size: 4.0rem;
  line-height: 1.0;
}
.process .content .end {
  padding: 10px;
  background: #B53B41;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

.voice {
  margin-bottom: 40px;
}
.voice .content {
  padding-top: 40px;
}
.voice .content .lead {
  margin-bottom: 20px;
}
.voice .content .row {
  margin-bottom: 40px;
}
.voice .content .row h3 {
  padding: 5px 8px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.0rem;
  color: #fff;
  margin-bottom: 20px;
}
.voice .content .row .inner {
  margin: 0 -10px;
}
.voice .content .row .inner .column {
  margin-bottom: 20px;
  padding: 0 10px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.voice .content .row .inner .column div {
  background: #fef6d6;
  width: 100%;
  height: auto !important;
}
.voice .content .row .inner .column div h4 {
  display: table;
  width: 100%;
  background: url(../../images/voice/column_heading_end.gif) no-repeat right top;
}
.voice .content .row .inner .column div h4 strong {
  padding: 0 8% 0 25%;
  display: table-cell;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2;
  font-size: 1.4rem;
  color: #f30;
}
.voice .content .row .inner .column div p {
  padding: 0 20px 20px;
}
.voice .content .resident h3 {
  background: #97b346;
}
.voice .content .resident .column:nth-child(odd) div {
  background: #fef6d6 url(../../images/voice/column_heading1.png) no-repeat 0 0;
}
.voice .content .resident .column:nth-child(even) div {
  background: #fef6d6 url(../../images/voice/column_heading2.png) no-repeat 0 0;
}
.voice .content .family h3 {
  background: #469bb3;
}
.voice .content .family .column:nth-child(odd) div {
  background: #fef6d6 url(../../images/voice/column_heading3.png) no-repeat 0 0;
}
.voice .content .family .column:nth-child(even) div {
  background: #fef6d6 url(../../images/voice/column_heading4.png) no-repeat 0 0;
}
.voice .content .manzokudo h3 {
  margin-bottom: 20px;
  padding-left: 7px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.4rem;
  color: #094830;
  line-height: 1.0;
  border-left: 3px solid #094830;
}
.voice .content .manzokudo p {
  margin-bottom: 20px;
}
.voice .content .manzokudo table {
  margin-bottom: 20px;
  width: 100%;
}
.voice .content .manzokudo table th, .voice .content .manzokudo table td {
  padding: 10px;
  border: 1px solid  #ccc;
}
.voice .content .manzokudo table th {
  background: #eee;
  font-weight: bold;
}

.greeting .content {
  padding-top: 40px;
}
.greeting .content .row {
  margin-bottom: 40px;
}
.greeting .content .row h3 {
  margin-bottom: 10px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.8rem;
}
.greeting .content .row h4 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: solid 1px #979797;
}
.greeting .content .row p {
  margin-bottom: 15px;
}

.shortstay {
  margin-bottom: 40px;
}
.shortstay .title {
  margin: 0 -15px 20px;
  padding: 20px 20px 20px;
  background: #accf5b;
}
.shortstay .title h2 {
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.0;
  text-align: center;
  -webkit-text-shadow: 0 1px 2px #999;
  -moz-text-shadow: 0 1px 2px #999;
  -ms-text-shadow: 0 1px 2px #999;
  -o-text-shadow: 0 1px 2px #999;
  text-shadow: 0 1px 2px #999;
}
.shortstay .title .text {
  padding: 15px;
  background: #F2F1EC;
  border: 2px solid #F2F1EC;
  -webkit-box-shadow: inset 0 0 0 2px #D0CAA6;
  box-shadow: inset 0 0 0 2px #D0CAA6;
}
.shortstay .content .brief {
  margin-bottom: 40px;
}
.shortstay .content .brief .row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted  #ccc;
}
.shortstay .content .brief .row h3 {
  margin-bottom: 15px;
  padding-left: 7px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.0;
  border-left: 4px solid #accf5b;
}
.shortstay .content .brief .row .flow table {
  width: 100%;
  border: 2px solid #accf5b;
}
.shortstay .content .brief .row .flow table th, .shortstay .content .brief .row .flow table td {
  padding: 10px;
}
.shortstay .content .brief .row .flow table th {
  background: #accf5b;
  width: 20%;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}
.shortstay .content .brief .row .flow table strong {
  color: #693;
}
.shortstay .content .brief .row .flow p {
  font-size: 2.0rem;
  text-align: center;
  color: #accf5b;
}
.shortstay .content .shortstay__facility {
  margin-bottom: 40px;
  padding: 20px;
  background: #EFF9D7;
}
.shortstay .content .shortstay__facility h3 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #693;
}

.visit_service {
  margin-bottom: 40px;
}
.visit_service .title {
  margin: 0 -15px 20px;
  padding: 30px 15px;
  background: #aad59c url(../../images/visit_service/title_bg.gif) no-repeat right top;
  background-size: contain;
}
.visit_service .lead {
  margin-bottom: 20px;
  overflow: hidden;
}
.visit_service .lead .left {
  margin: 0 auto 10px;
  width: 90%;
}
.visit_service .lead .right h3 {
  margin: 0 auto 10px;
  width: 70%;
}
.visit_service .lead .right p {
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.visit_service .feature {
  margin-bottom: 40px;
}
.visit_service .feature .row {
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.visit_service .feature .row h3 {
  padding: 10px 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
.visit_service .feature .row .right {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.visit_service .feature .row .right .text {
  margin-bottom: 10px;
  float: right;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.visit_service .feature .row .right .text p {
  padding: 10px;
  background: #fff;
}
.visit_service .feature .row .right .text p strong {
  font-size: 1.6rem;
}
.visit_service .feature .row__day {
  background: #fdcbb9;
}
.visit_service .feature .row__day h3 {
  color: #d95249;
}
.visit_service .feature .row__day .text strong {
  color: #d95249;
}
.visit_service .feature .row__night {
  background: #b3deac;
}
.visit_service .feature .row__night h3 {
  color: #38973d;
}
.visit_service .feature .row__night .text strong {
  color: #38973d;
}
.visit_service .feature .row__nightColumn {
  padding: 0 10px;
  border: 3px solid  #02af79;
  background: #ecfae9;
  overflow: visible;
}
.visit_service .feature .row__nightColumn p {
  margin: -12px auto 0;
  padding: 5px 0;
}
.visit_service .feature .row__teigaku {
  background: #a3d2f4;
}
.visit_service .feature .row__teigaku h3 {
  color: #0f8bc4;
}
.visit_service .feature .row__teigaku .text strong {
  color: #0f8bc4;
}
.visit_service .feature .row__teigakuColumn {
  padding: 10px 10px 0 10px;
  border: 3px solid  #217fc4;
  background: #dcf0ff;
  overflow: visible;
}
.visit_service .feature .row__teigakuColumn h4 {
  font-size: 1.6rem;
  color: #0f8bc4;
  font-weight: bold;
}
.visit_service .feature .row__teigakuColumn p {
  margin-bottom: 10px;
}
.visit_service .houmon {
  background: #d5f6cb;
}
.visit_service .houmon h3 {
  background: #33b371;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 3.5rem;
}
.visit_service .houmon .houmon__inner {
  padding: 10px;
}
.visit_service .houmon .houmon__inner ul {
  padding: 10px 0;
  background: #fff;
  text-align: center;
}
.visit_service .houmon .houmon__inner ul li {
  margin: 0 10px;
  display: inline-block;
  font-size: 1.6rem;
}
.visit_service .houmon .houmon__inner ul li strong {
  color: #33b371;
}

.visit_service_column {
  padding: 10px;
  width: 200px;
  min-height: 400px;
  background: #feeec0;
}
.visit_service_column .lead {
  margin-bottom: 10px;
}
.visit_service_column .lead h2 {
  margin: 0 auto 10px;
}

.kengakureport .title {
  margin: 0 -15px;
  padding: 20px;
  background: #e8f7f7;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kengakureport .title h2 {
  margin-bottom: 10px;
}
.kengakureport .content {
  padding-top: 40px;
}
.kengakureport .content .row {
  margin-bottom: 40px;
}
.kengakureport .content h3 {
  margin-bottom: 40px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.kengakureport .content h4 {
  margin-bottom: 20px;
  padding-left: 7px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.0rem;
  color: #094830;
  line-height: 1.0;
  border-left: 3px solid #094830;
}
.kengakureport .content p {
  margin-bottom: 20px;
}
.kengakureport .content dl {
  margin-bottom: 5px;
  overflow: hidden;
}
.kengakureport .content dl dt {
  margin-bottom: 5px;
  width: 25%;
  border: 1px solid #333;
  text-align: center;
  clear: both;
}
.kengakureport .content dl dt.staff {
  border-color: #039;
  color: #039;
}
.kengakureport .content dl dt.visitor {
  border-color: #390;
  color: #390;
}
.kengakureport .content dl dd {
  margin-bottom: 15px;
}
.kengakureport .content .photos div {
  margin-bottom: 20px;
  padding: 0 10px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kengakureport .content .photos div p {
  margin-bottom: 5px;
}

.tomonokai {
  margin-bottom: 40px;
}
.tomonokai .title {
  margin-bottom: 20px;
}
.tomonokai .amenity {
  margin-bottom: 40px;
}
.tomonokai .amenity p {
  margin-bottom: 20px;
}
.tomonokai .tomonokai_faq h3 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.tomonokai .tomonokai_faq .row {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid  #ccc;
}
.tomonokai .tomonokai_faq .row h4, .tomonokai .tomonokai_faq .row h5 {
  margin-bottom: 10px;
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 1.4;
}
.tomonokai .tomonokai_faq .row h4 {
  color: #f33;
}
.tomonokai .tomonokai_faq .row h5 {
  color: #06c;
}
.tomonokai .tomonokai_faq .row p {
  margin-bottom: 10px;
}
.tomonokai .tomonokai_faq .row div {
  padding: 20px;
  background: #fff6cb;
}

.recruit {
  margin-bottom: 40px;
}
.recruit .content {
  padding-top: 20px;
}
.recruit .content .lead {
  margin-bottom: 20px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  text-align: center;
  line-height: 1.2;
}
.recruit .content .lead p {
  margin-bottom: 5px;
}
.recruit .content .lead h3 {
  font-size: 1.8rem;
  color: #f60;
}
.recruit .content ul li {
  margin-bottom: 20px;
}

.technical_term .content {
  margin-bottom: 40px;
  padding-top: 15px;
}
.technical_term .content .qList {
  margin-bottom: 20px;
  background: #eee;
}
.technical_term .content .qList ul {
  overflow: hidden;
}
.technical_term .content .qList ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.technical_term .content .qList ul li:last-child a {
  border-bottom: none;
}
.technical_term .content .qList ul li a {
  padding: 10px 0 10px 10px;
  display: block;
  border-bottom: 1px dotted  #ccc;
  color: #333;
  font-size: 1.4rem;
}
.technical_term .content .qList ul li a:before {
  content: '\f0da';
  font-family: FontAwesome;
  margin-right: 5px;
}
.technical_term .content .aList .row {
  padding: 30px 0;
  border-bottom: 1px solid  #ccc;
}
.technical_term .content .aList .row h3 {
  padding-left: 7px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.4rem;
  color: #094830;
  line-height: 1.0;
  border-left: 3px solid #094830;
}
.technical_term .content .aList .row p {
  margin-top: 15px;
}
.technical_term .content .aList .row dl dt {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}
.technical_term .content .aList .row dl dd {
  margin-top: 5px;
}
.technical_term .content .aList .row table {
  margin-top: 15px;
  width: 100%;
}
.technical_term .content .aList .row table th, .technical_term .content .aList .row table td {
  padding: 10px;
  border: 1px solid  #ccc;
}
.technical_term .content .aList .row table th {
  background: #eee;
  width: 20%;
}

.privacy .content {
  margin-bottom: 40px;
  padding-top: 40px;
}
.privacy .content h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}
.privacy .content p {
  margin-bottom: 20px;
}
.privacy .content ul {
  margin-bottom: 20px;
}
.privacy .content ul li {
  margin: 10px 0 0 20px;
  list-style: disc;
}
.privacy .content ol li {
  list-style: decimal;
}
.privacy .content .info {
  padding: 10px;
  border: 1px solid  #ccc;
  text-align: center;
}
.privacy .content .info p {
  margin: 0;
}

.sitemap {
  margin-bottom: 40px;
}
.sitemap .content {
  padding-top: 40px;
}
.sitemap .content a {
  display: block;
  color: #333;
}
.sitemap .content a:before {
  content: '\f0da';
  font-family: FontAwesome;
  margin-right: 5px;
}
.sitemap .content .row {
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
}
.sitemap .content .row h3 {
  margin-bottom: 20px;
  font-weight: bold;
}
.sitemap .content .row h4 {
  margin-bottom: 10px;
  padding-left: 6px;
  font-weight: bold;
  line-height: 1.2;
  border-left: 5px solid  #f60;
}
.sitemap .content .row ul {
  margin: 0 0 20px 20px;
}
.sitemap .content .row ul li {
  margin-bottom: 5px;
}

.mailform .content {
  padding-top: 40px;
}
.mailform .content .lead {
  margin-bottom: 20px;
}
.mailform .content .mailform__inner span {
  color: #f00;
}
.mailform .content .mailform__inner h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}
.mailform .content .mailform__inner input {
  font-size: 1.6rem;
}
.mailform .content .mailform__inner table th, .mailform .content .mailform__inner table td {
  display: block;
  text-align: left;
}
.mailform .content .mailform__inner table th {
  padding: 5px;
  margin-bottom: 10px;
  background: #eee;
  font-weight: bold;
}
.mailform .content .mailform__inner table td {
  margin-bottom: 20px;
  line-height: 2.0rem;
}
.mailform .content .mailform__inner table ul li {
  margin-bottom: 5px;
}
.mailform .content .mailform__inner table .btn__submit th, .mailform .content .mailform__inner table .btn__submit td {
  padding: 0;
  border: none;
  background: none;
  text-align: center;
}
.mailform .content .mailform__inner table .btn__submit th input, .mailform .content .mailform__inner table .btn__submit td input {
  -webkit-appearance: none;
  padding: 10px 20px;
  width: 100%;
  background: #069;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.mailform .content .mailform__inner #intable table th, .mailform .content .mailform__inner #intable table td {
  margin: 0;
  padding: 0 0 0 7px;
  border-left: 1px solid #ccc;
}

.approach--common h2 {
  margin: 0 -15px;
}
.approach--common .title {
  margin: 0 -15px;
  padding: 30px 15px 15px 15px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.0rem;
  color: #F2F2CA;
  line-height: 1.2;
  background-color: #2e522e;
  background-image: -moz-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -webkit-gradient(linear, color-stop(0, #315730), color-stop(0.28, #234024), color-stop(0.97, #17271a));
  background-image: -webkit-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: -ms-linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  background-image: linear-gradient(#315730 0%, #234024 28%, #17271a 97%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff17271a,endColorstr=#ff315730);
  border-bottom: 5px solid #9d8a33;
}
.approach--common .title h2 {
  margin: 0;
}

.category__detail {
  width: 100%;
  margin: 0 auto;
}
.category__detail .category__inner {
  padding-top: 0;
}
.category__detail .category__inner .wrap {
  float: none;
  width: 100%;
  padding-bottom: 20px;
  overflow: hidden;
}
.category__detail .category__inner .wrap p {
  margin: 20px 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: center;
}

.side--menu {
  margin: 0 -15px;
  background: url(../../images/sidemenu_bg.gif) 0 0;
  border-bottom: 1px solid #ccc;
}
.side--menu h3 {
  padding: 12px 0;
  color: #09483e;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.0;
  position: relative;
}
.side--menu h3:after {
  content: '\f107';
  font-family: FontAwesome;
  font-size: 2.0rem;
  position: absolute;
  right: 15px;
}
.side--menu ul {
  max-height: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.side--menu ul li {
  border-top: 1px solid #ccc;
}
.side--menu ul li a {
  display: block;
  color: #333;
  padding: 15px;
}
.side--menu ul ul {
  background: #fff;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.side--menu ul ul li a {
  color: #666;
}
.side--menu ul.side--menu--open {
  max-height: 80em;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.side--menu ul.side--menu--open ul {
  max-height: 50em;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

.col_6 {
  position: relative;
  width: 100%;
}

.col_6:nth-child(even) {
  position: relative;
  width: 100%;
}

.col_6 img.p_top {
  width: 100%;
}

.col_4 {
  position: relative;
  width: 100%;
}

.col_4_3 {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.col_8 {
  position: relative;
  width: 100%;
}

.col_7 {
  position: relative;
  width: 100%;
}

.col_5 {
  position: relative;
  width: 100%;
}

.col_2 {
  position: relative;
  width: 100%;
}

.col_10 {
  position: relative;
  width: 100%;
}

.col_9 {
  position: relative;
  width: 100%;
}

.col_3 {
  position: relative;
  width: 100%;
}

.col_2_8 {
  position: relative;
  width: 100%;
}

.col_5_8 {
  position: relative;
  width: 100%;
}

img.img--right {
  width: 100%;
  float: none;
  padding-bottom: 10px;
}

span.span--right {
  width: 100%;
  float: none;
  padding: 10px 0 1em 6%;
}

.service__detail .service__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.service__detail .service__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.service__detail .service__inner .wrap .chart_01 {
  padding-top: 10px;
}
.service__detail .service__inner .wrap .chart__top {
  padding-top: 10px;
}
.service__detail .service__inner .wrap .chart__top20 {
  padding-top: 10px;
}

.research__detail .research__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.research__detail .research__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.research__detail .research__inner .wrap .row div {
  margin-bottom: 10px;
}
.research__detail .research__inner .wrap .column--message {
  margin-top: 20px;
  padding: 20px 20px 0 20px;
  border: 3px solid  #d4cdb7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.research__detail .research__inner .wrap .column--message .row {
  margin-bottom: 20px;
}
.research__detail .research__inner .wrap .column--message .col_2 {
  margin-bottom: 10px;
}
.research__detail .research__inner .wrap .column--message h5 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.research__detail .research__inner .wrap .chart--kaizen {
  margin: 20px 0;
}

.care__detail .care__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.care__detail .care__inner .wrap h3.small {
  font-size: 1.8rem;
}
.care__detail .care__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.care__detail .care__inner .wrap h4.small {
  font-size: 1.6rem;
}
.care__detail .care__inner .wrap .care--list {
  margin: 0 -5px;
  overflow: hidden;
}
.care__detail .care__inner .wrap .care--list li {
  margin: 0 5px 10px;
  float: left;
  width: 47%;
  background: #073E35;
  color: #fff;
  text-align: center;
  line-height: 28px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}
.care__detail .care__inner .wrap .row div {
  margin: 10px 0;
}
.care__detail .care__inner .wrap .img--point {
  margin: 0 auto;
  width: 60%;
}

.medical__detail .medical__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.medical__detail .medical__inner .wrap h3.small {
  font-size: 1.8rem;
}
.medical__detail .medical__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.medical__detail .medical__inner .wrap h4.small {
  font-size: 1.6rem;
}
.medical__detail .medical__inner .wrap h5 {
  background-color: #073E35;
  width: 40%;
  height: 28px;
  font-size: 1.4rem;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6rem;
  margin: 10px 5px 10px 0;
  border-radius: 14px;
}

.hospitality__detail .hospitality__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.hospitality__detail .hospitality__inner .wrap h3.small {
  font-size: 1.8rem;
}
.hospitality__detail .hospitality__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.hospitality__detail .hospitality__inner .wrap h4.small {
  font-size: 1.6rem;
}
.hospitality__detail .hospitality__inner .wrap a.link--hospiality {
  background-image: url(../../images/hospitality/icon_01.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.hospitality__detail .hospitality__inner .wrap .row div {
  margin: 10px 0;
}

.hotspring__detail .hotspring__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.hotspring__detail .hotspring__inner .wrap h3.small {
  font-size: 1.8rem;
}
.hotspring__detail .hotspring__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.hotspring__detail .hotspring__inner .wrap h4.small {
  font-size: 1.6rem;
}
.hotspring__detail .hotspring__inner .wrap h5 {
  padding: 20px 0 10px;
  font-size: 1.6rem;
  color: #063E34;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hotspring__detail .hotspring__inner .wrap table {
  width: 100%;
  border: #CACACA 1px solid;
}
.hotspring__detail .hotspring__inner .wrap table th {
  width: 16%;
  padding: 2%;
  background-color: #F3F2EB;
  border: #CACACA 1px solid;
}
.hotspring__detail .hotspring__inner .wrap table td {
  width: 76%;
  padding: 2%;
  background-color: #FFF;
  border: #CACACA 1px solid;
}
.hotspring__detail .hotspring__inner .wrap .column--hotspring {
  margin-top: 20px;
  border-radius: 20px;
  border: solid 1px #D4CDB7;
  padding: 20px;
}
.hotspring__detail .hotspring__inner .wrap .column--hotspring h4 {
  font-size: 1.4rem;
  padding: 0 0 10px;
  border-bottom: 0px;
}
.hotspring__detail .hotspring__inner .wrap .column--hotspring h5 {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 1.4rem;
  padding: 25px 0 2px 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #979797;
  background-image: url(../../images/hotspring/icon_01.png);
  background-repeat: no-repeat;
  background-position: 0 25px;
}

.sc-fit__detail .sc-fit__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.sc-fit__detail .sc-fit__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.sc-fit__detail .sc-fit__inner .wrap .column--sc-fit {
  border-radius: 20px;
  border: solid 3px #D4CDB7;
  padding: 20px;
  margin-top: 20px;
}
.sc-fit__detail .sc-fit__inner .wrap .column--sc-fit h5 {
  font-size: 1.6rem;
  padding: 0 0 20px;
  border-bottom: 0px;
}
.sc-fit__detail .sc-fit__inner .wrap .youtube {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.sc-fit__detail .sc-fit__inner .wrap .youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.sc-fit__detail .sc-fit__inner .wrap p.sc-fit--strong {
  font-size: 1.2rem;
  padding: 25px 0 0 0;
  margin-bottom: 20px;
  font-weight: bold;
}
.sc-fit__detail .sc-fit__inner .wrap .row div {
  margin: 10px 0;
}

.plan__detail .plan__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.plan__detail .plan__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.plan__detail .plan__inner .wrap p.plan__intro__first {
  padding: 20px 0 0 0;
}
.plan__detail .plan__inner .wrap p.plan__intro {
  padding-top: 1em;
}
.plan__detail .plan__inner .wrap h5 {
  font-size: 1.2rem;
  padding: 0 0 10px;
  font-weight: bold;
}

.ion-water__detail .ion-water__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.ion-water__detail .ion-water__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.ion-water__detail .ion-water__inner .wrap h5 {
  font-size: 1.6rem;
  padding: 0 0 10px;
  font-weight: bold;
  color: #009BE0;
}
.ion-water__detail .ion-water__inner .wrap p {
  margin-bottom: 10px;
}
.ion-water__detail .ion-water__inner .wrap .row {
  margin-bottom: 30px;
}
.ion-water__detail .ion-water__inner .wrap .column--ion-water {
  border-radius: 10px;
  background-color: #D7EDFB;
  padding: 30px 30px 1px 30px;
}
.ion-water__detail .ion-water__inner .wrap .column--ion-water .border_btm {
  padding-bottom: 20px;
  border-bottom: solid 1px #37ADEB;
}
.ion-water__detail .ion-water__inner .wrap .voice {
  background: #EDF7FD !important;
}
.ion-water__detail .ion-water__inner .wrap .graph {
  width: 100%;
  margin: 0 auto 10px;
}
.ion-water__detail .ion-water__inner .wrap .water01 {
  width: 16%;
  margin: 0 auto;
}
.ion-water__detail .ion-water__inner .wrap .water02 {
  width: 100%;
  margin: 0 auto;
}

.travel__detail .travel__inner .wrap .content {
  margin-top: 40px;
}
.travel__detail .travel__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.travel__detail .travel__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.travel__detail .travel__inner .wrap h5 {
  font-size: 1.6rem;
  padding: 0 0 10px;
  font-weight: bold;
  color: #009BE0;
}
.travel__detail .travel__inner .wrap .column--travel {
  border-radius: 1rem;
  border: 1px solid #CCC7B0;
  padding: 10px;
  margin-top: 30px;
  font-size: 12px;
}
.travel__detail .travel__inner .wrap .column--travel .caution {
  font-size: 10px;
}
.travel__detail .travel__inner .wrap .row {
  margin-bottom: 30px;
  overflow: hidden;
}
.travel__detail .travel__inner .wrap ul {
  margin: -2px;
}
.travel__detail .travel__inner .wrap ul li {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

.meal__detail .meal__inner .wrap .content {
  margin-top: 40px;
}
.meal__detail .meal__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.meal__detail .meal__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #CCC7B0;
}
.meal__detail .meal__inner .wrap h5 {
  font-size: 1.6rem;
  padding: 0 0 10px;
  font-weight: bold;
  color: #009BE0;
}
.meal__detail .meal__inner .wrap p {
  padding-bottom: 20px;
}
.meal__detail .meal__inner .wrap .column--meal {
  border-radius: 1rem;
  border: 1px solid #CCC7B0;
  padding: 20px;
  margin-top: 30px;
  font-size: 12px;
}
.meal__detail .meal__inner .wrap .column--meal .caution {
  font-size: 10px;
}
.meal__detail .meal__inner .wrap .row {
  margin-bottom: 30px;
  overflow: hidden;
}
.meal__detail .meal__inner .wrap ul {
  margin: -2px;
}
.meal__detail .meal__inner .wrap ul li {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

.philanthropy__detail .philanthropy__inner .wrap .content {
  xmargin-top: 40px;
}
.philanthropy__detail .philanthropy__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.philanthropy__detail .philanthropy__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.philanthropy__detail .philanthropy__inner .wrap h5 {
  font-size: 1.6rem;
  padding: 0 0 10px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
  border-bottom: 0px;
  text-align: center;
}
.philanthropy__detail .philanthropy__inner .wrap .photo {
  margin-top: 10px;
}
.philanthropy__detail .philanthropy__inner .wrap .row {
  margin-bottom: 30px;
  overflow: hidden;
}
.philanthropy__detail .philanthropy__inner .wrap .column {
  width: 100%;
  background: url(../../images/philanthropy/pagelink_bg.jpg) repeat-x top #cfe9e6;
}
.philanthropy__detail .philanthropy__inner .wrap .column ul {
  margin: 0 auto;
}
.philanthropy__detail .philanthropy__inner .wrap .column ul li {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.philanthropy__detail .philanthropy__inner .wrap .column ul li img {
  width: 70%;
  padding: 0 15%;
}
.philanthropy__detail .philanthropy__inner .wrap dl {
  overflow: hidden;
  border-bottom: dotted 1px #979797;
  padding: 20px;
}
.philanthropy__detail .philanthropy__inner .wrap dl dt {
  font-weight: bold;
}
.philanthropy__detail .philanthropy__inner .wrap dl dd .sttl {
  font-weight: bold;
  font-size: 1.4rem;
}
.philanthropy__detail .philanthropy__inner .wrap .main {
	padding:30px 0 20px 0; 
  background: url(../../images/philanthropy/pagelink_bg.jpg) repeat-x top #cfe9e6;
}
.philanthropy__detail .philanthropy__inner .wrap .main h5{
  margin-bottom: 30px;
}

.award2014__detail .award2014__inner .wrap .main {
  margin: 0 -15px;
}
.award2014__detail .award2014__inner .wrap h3 {
  padding: 40px 0 10px;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.2;
}
.award2014__detail .award2014__inner .wrap h4 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #979797;
}
.award2014__detail .award2014__inner .wrap h5 {
  font-size: 1.6rem;
  padding: 0 0 10px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
  border-bottom: 0px;
  text-align: center;
}
.award2014__detail .award2014__inner .wrap .photo {
  margin-top: 10px;
}
.award2014__detail .award2014__inner .wrap .row {
  margin-bottom: 30px;
  overflow: hidden;
}
.award2014__detail .award2014__inner .wrap .col_2 {
  width: 30% !important;
  padding: 0 30%;
}
.award2014__detail .award2014__inner .wrap .small {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.award2014__detail .award2014__inner .wrap .red {
  color: #990000;
}
.award2014__detail .award2014__inner .wrap .award {
  text-align: center;
  color: #990000;
  font-size: 2.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.link .content {
  margin-bottom: 40px;
  padding-top: 15px;
}
.link .content .qList {
  margin-bottom: 20px;
  background: #eee;
}
.link .content .qList ul {
  overflow: hidden;
}
.link .content .qList ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.link .content .qList ul li:last-child a {
  border-bottom: none;
}
.link .content .qList ul li a {
  padding: 10px 0 10px 10px;
  display: block;
  border-bottom: 1px dotted  #ccc;
  color: #333;
  font-size: 1.4rem;
}
.link .content .qList ul li a:before {
  content: '\f0da';
  font-family: FontAwesome;
  margin-right: 5px;
}
.link .content .aList .row {
  padding: 30px 0;
  border-bottom: 1px solid  #ccc;
}
.link .content .aList .row h3 {
  padding-left: 7px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 2.4rem;
  color: #094830;
  line-height: 1.0;
  border-left: 3px solid #094830;
}
.link .content .aList .row p {
  margin-top: 15px;
}
.link .content .aList .row dl dt {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}
.link .content .aList .row dl dd {
  margin-top: 5px;
}
.link .content .aList .row table {
  margin-top: 15px;
  width: 100%;
}
.link .content .aList .row table th, .link .content .aList .row table td {
  padding: 10px;
  border: 1px solid  #ccc;
}
.link .content .aList .row table th {
  background: #eee;
  width: 20%;
}
.link {
  margin-bottom: 40px;
}
.link .content {
  padding-top: 40px;
}
.link .content a {
  display: block;
  color: #333;
}
.link .content a:before {
  content: '\f0da';
  font-family: FontAwesome;
  margin-right: 5px;
}
.link .content .row {
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
}
.link .content .row h3 {
  font-size:18px;
  margin-bottom: 20px;
  font-weight: bold;
}
.link .content .row ul {
  margin: 0 0 20px 20px;
}
.link .content .row ul li {
  margin-bottom: 5px;
}
.link .content .row_top h3 {
  font-size:18px;
  float:none !important;
  font-weight: bold;
}

.link .content .row_top ul {
  margin-bottom: 40px;
}
.link .content .row_top ul li {
  margin-bottom: 5px;
  list-style-type:disc !important;
  list-style-position:inside;
  padding-left:1em;
  text-indent:-1em;
}