//* ========================================================================== */
//* ion-water__detail
//* 健康イオン水
//* ========================================================================== */
.ion-water__detail {
	.ion-water__inner {
		.wrap {
			h3 {
				padding: 40px 0 10px;
				font-size: 2.4rem;
				font-family: $mincho;
				line-height: 1.2;
			}
			h4 {
				font-size: 1.8rem;
				font-weight: bold;
				padding: 10px 0 0 0;
				margin-bottom: 10px;
				border-bottom: solid 1px #979797;
			}
			h5 {
				font-size: 1.6rem;
				padding: 0 0 10px;
				font-weight: bold;
			color:#009BE0;

			}
							p {
					margin-bottom:10px;
				}
				.row {
					margin-bottom:30px;
				}
			.column--ion-water {
				border-radius: 10px;
				background-color: #D7EDFB;
				padding: 30px 30px 1px 30px;

				.border_btm {
					padding-bottom:20px;
					border-bottom:solid 1px #37ADEB;
				}
			}
			.voice {
				background:#EDF7FD !important;
			}
			.graph {
				width:100%;
				margin:0 auto 10px;
			}
			.water01{
				width:16%;
				margin:0 auto;
			}
			.water02 {
				width:100%;
				margin:0 auto;
			}

		}
	}
}


