
//* ========================================================================== */
//* philanthropy__detail
//* 社会貢献活動
//* ========================================================================== */
.philanthropy__detail {
	 .philanthropy__inner {
		 .wrap {
			 .content {
			 margin-top:40px;
			}
			 h3 {
			 padding: 40px 0 10px;
			 font-size: 2.4rem;
			 font-family: $mincho;
			 line-height: 1.2;
			}
			 h4 {
			 font-size: 1.8rem;
			 font-weight: bold;
 			padding: 10px 0 0 0;
 			margin-bottom: 10px;
 			border-bottom: solid 1px #979797;
			}
			 h5 {
			 font-size: 1.6rem;
			 padding: 0 0 10px;
 			font-family: $mincho;
 			font-weight:bold;
			 border-bottom: 0px;
			text-align:center;
			}
 			.photo {
 			margin-top:10px;
			}
 			.row {
			 margin-bottom:30px;
			 overflow:hidden;
			}
 			.column {
			 width:100%;
 			background:url(../../images/philanthropy/pagelink_bg.jpg) repeat-x top #CFE9E6;
				 ul {
				 margin:0 auto;
					 li {
					 width:100%;
					 margin:0 auto;
					 text-align:center;
					 padding-bottom:20px;
						 img {
						 width:70%;
						 padding:0 15%;
						}
					}
				}
			}
			dl {
	overflow:hidden;
	border-bottom:dotted 1px #979797;
	padding:20px;
	dt {font-weight:bold;
	}

	dd {
		.sttl {
			font-weight:bold;
			font-size:1.4rem;
		}
	}
	
}
		}
	}
}
