//* ========================================================================== */
//* plan__detail
//* 入院率低下への取り組み詳細
//* ========================================================================== */
.plan__detail {
	.plan__inner {
		.wrap {
			h3 {
				padding: 40px 0 10px;
				font-size: 2.4rem;
				font-family: $mincho;
				line-height: 1.2;
			}
			h4 {
				font-size: 1.8rem;
				font-weight: bold;
				padding: 10px 0 0 0;
				margin-bottom: 10px;
				border-bottom: solid 1px #979797;
			}
			p.plan__intro__first {
				padding: 20px 0 0 0;
			}
			p.plan__intro {
				padding-top: 1em;
			}
			h5 {
				font-size: 1.2rem;
				padding: 0 0 10px;
				font-weight: bold;
			}
		}
	}
}