//* ========================================================================== */
//* research__detail
//* スーパー・コートの研究活動
//* ========================================================================== */
.research__detail {
	.research__inner {
		.wrap {
			h3 {
				padding: 40px 0 10px;
				font-size: 2.4rem;
				font-family: $mincho;
				line-height: 1.2;
			}
			h4 {
				font-size: 1.8rem;
				font-weight: bold;
				padding: 10px 0 0 0;
				margin-bottom: 10px;
				border-bottom: solid 1px #979797;
			}
			.row {
				div {
					margin-bottom: 10px;
				}
			}
			.column--message {
				margin-top: 20px;
				padding: 20px 20px 0 20px;
				border: 3px solid  #d4cdb7;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				-ms-border-radius: 20px;
				-o-border-radius: 20px;
				border-radius: 20px;
				.row {
					margin-bottom: 20px;
				}
				.col_2 {
					margin-bottom: 10px;
				}
				h5 {
					margin-bottom: 20px;
					font-size: 1.8rem;
				}
			}
			.chart--kaizen {
				margin: 20px 0;
			}
		}
	}
}