//* ========================================================================== */
//* facility__index
//* 施設一覧
//* ========================================================================== */
.facility__index {
	.content {
		padding-top: 40px;
		.row {
			margin-bottom: 80px;
			h3 {
				margin-bottom: 20px;
				padding: 10px;
				background: $cl-green;
				color: #fff;
				font-size: 20px;
				font-weight: bold;
				line-height: 1.0;
			}
		}
	}
}


//* ========================================================================== */
//* facility__detail
//* 施設詳細
//* ========================================================================== */
.facility__detail {
	.lead {
		padding: 50px 0 30px;
		@include gr-green;
		color: #fff;
		border-bottom: 7px solid  #9D8A39;
		.left {
			float: left;
			width: 47%;
			.heading {
				margin-bottom: 20px;
				padding: 7px;
				background: #9D8A33;
				border: 1px solid  #fff;
				font-size: 16px;
				line-height: 1.0;
			}
			h2 {
				margin-bottom: 15px;
				font-size: 18px;
				line-height: 1.0;
				overflow: hidden;
				em {
					margin-right: 5px;
					padding-top: 0.3em;
					float: left;
				}
				strong {
					float: left;
					font-size: 30px;
				}
			}
			.text {
				margin-bottom: 15px;
				font-size: 18px;
			}
			ul {
				margin: 0 -5px;
				li {
					margin-bottom: 5px;
					padding: 0 5px;
					float: left;
					width: 33.3%;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
			}
		}
		.right {
			float: right;
			width: 51%;
			.visual {
				position: relative;
				.visualInner {
					margin: 0 auto;
					width: 86%;
				}
				p {
					width: 3%;
					height: 50px;
					position: absolute;
					a {
						height: 100%;
						display: block;
						overflow: hidden;
						text-indent: -500%;
					}
				}
				.slider-prev {
					margin-top: -25px;
					top: 50%;
					left: 0;
					background: url(../../images/facility/arrow_left.png) no-repeat center center;
					background-size: contain;
				}
				.slider-next {
					margin-top: -25px;
					top: 50%;
					right: 0;
					background: url(../../images/facility/arrow_right.png) no-repeat center center;
					background-size: contain;
				}
			}
			.btnBlog {
				margin-top: 25px;
				margin-right: 7%;
				float: right;
				width: 30%;
			}
		}
	}
	.facility__inner {
		padding-top: 40px;
		.wrap {
			margin-top: 40px;
			border-top: 1px solid  #ccc;
			overflow: hidden;
			h3 {
				padding: 15px 10px 0 50px;
				width: 22%;
				float: left;
				font-size: 32px;
				font-family: $mincho;
				line-height: 1.2;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.content {
				padding: 0 0 0 50px;
				width: 78%;
				float: right;
				border-left: 1px solid  #ccc;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				.row {
					margin-top: 40px;
					overflow: hidden;
					position: relative;
				}
				h4 {
					font-size: 24px;
				}
				table {
					margin-bottom: 5px;
					th,td {
						padding: 10px;
						border: 1px solid  #fff;
						line-height: 1.2;
						text-align: left;
					}
					th {
						background: #E4E4E4;
					}
					strong {
						font-size: 20px;
					}
				}
				p {
					margin-bottom: 20px;
					clear: both;
					font-size: 16px;
					&.small {
						font-size: 12px;
					}
				}
				.btnPdf {
					position: absolute;
					top: 0;
					right: 0;
					width: 230px;
				}
				.facilitySlider {
					max-width: 490px;
					.facilitySlider--big {
						width: 86%;
						float: left;
					}
					.bx-rooms-pager {
						width: 10%;
						float: right;
						li {
							margin-bottom: 10px;
							a {
								display: block;
								padding: 1px;
								border: 1px solid  #ccc;
								&.active {
									border: 1px solid  #f00;
								}
							}
						}
					}
					.facilitySlider__text {
						padding-top: 10px;
						clear: both;
						p {
							padding: 8px;
							width: 86%;
							border: 1px solid  #ccc;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
						}
					}
				}
				.facilityGallery {
					ul {
						margin: 0 -5px;
						overflow: hidden;
						li {
							padding: 0 5px;
							margin-bottom: 5px;
							float: left;
							width: 33.3%;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							img {
								margin-bottom: 3px;
								display: inline;
								vertical-align: bottom;
							}
						}
					}
				}
				.facilityFloor {
					table {
						p {
							padding-top: 5px;
							text-align: right;
							line-height: 1.0;
							img {
								margin-left: 5px;
								display: inline;
								max-width: 84px;
								vertical-align: bottom;
							}
						}
					}
				}
				.facilityOther {
					div {
						.service {
							margin: 0;
						}
					}
				}
			}
		}
		.outline {
			h3 {
				background: url(../../images/facility/icn_outline.gif) no-repeat 0 12px;

			}
		}
		.access {
			h3 {
				background: url(../../images/facility/icn_access.gif) no-repeat 0 13px;
			}
		}
		.inside {
			h3 {
				background: url(../../images/facility/icn_inside.gif) no-repeat 0 13px;
				background-size: 40px;
			}
		}
		.other {
			h3 {
				background: url(../../images/facility/icn_other.gif) no-repeat 0 20px;
				font-size: 20px;
			}
		}
	}
}

//* ========================================================================== */
//* feature__detail
//* 施設詳細ポップアップ
//* ========================================================================== */
.feature__detail {
	min-height: 400px;
	padding: 20px;
	h3 {
		margin-bottom: 20px;
		padding: 10px;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.0;
		background: #D8D09D;
	}
	.feature__detail__inner {
		overflow: hidden;
		.text {
			float: left;
			width: 48%;
			font-size: 16px;
		}
		.photo {
			float: right;
			width: 48%;
		}
	}
}