//* ========================================================================== */
//* hospitality__detail
//* ホスピタリティ詳細
//* ========================================================================== */
.hospitality__detail {
	.hospitality__inner {
		.wrap {
			h3 {
				padding: 50px 0 10px;
				font-size: 36px;
				font-family: $mincho;
				line-height: 1.2;
				&.small {
					font-size: 30px;
				}
			}
			h4 {
				font-size: 22px;
				font-weight: bold;
				padding: 25px 0 0 0;
				margin-bottom: 20px;
				border-bottom: solid 1px #979797;
				&.small {
					font-size: 16px;
				}
			}
			a.link--hospiality {
				background-image: url(../../images/hospitality/icon_01.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				padding-left: 20px;
			}
		}
	}
}