//* ========================================================================== */
//* ion-water__detail
//* 健康イオン水
//* ========================================================================== */
.ion-water__detail {
	.ion-water__inner {
		.wrap {
			h3 {
				padding: 50px 0 10px;
				font-size: 36px;
				font-family: $mincho;
				line-height: 1.2;
				&.small {
					font: 24px;
				}
			}
			h4 {
				font-size: 22px;
				font-weight: bold;
				padding: 25px 0 0 0;
				margin-bottom: 20px;
				border-bottom: solid 1px #979797;
				&.small {
					font-size: 16px;
				}
			
			}
			h5 {
					font-size: 16px;
					padding: 0 0 3px 0;
					font-weight:bold;
					color:#009BE0;
					border-bottom: 0px;

				}
				p {
					margin-bottom:10px;
				}
				.row {
					margin-bottom:30px;
				}
			.column--ion-water {
				border-radius: 10px;
				background-color: #D7EDFB;
				padding: 30px 30px 1px 30px;

				.border_btm {
					padding-bottom:20px;
					border-bottom:solid 1px #37ADEB;
				}
			}
			.voice {
				background:#EDF7FD !important;
			}
			.graph {
				width:89.02777%;
				margin:0 auto 10px;
			}
			.water01{
				width:13.333%;
				margin:0 auto;
			}
			.water02 {
				width:90.8333%;
				margin:0 auto;
			}
		}
	}
}