//* ========================================================================== */
//* plan__detail
//* 入院率低下への取り組み詳細
//* ========================================================================== */
.plan__detail {
	.plan__inner {
		.wrap {
			h3 {
				padding: 50px 0 10px;
				font-size: 36px;
				font-family: $mincho;
				line-height: 1.2;
			}
			h4 {
				font-size: 22px;
				font-weight: bold;
				padding: 25px 0 0 0;
				margin-bottom: 20px;
				border-bottom: solid 1px #979797;
			}
			p.plan__intro__first {
				padding: 50px 0 0 0;
			}
			p.plan__intro {
				padding-top: 1em;
			}
			h5 {
				font-size: 16px;
				padding: 0 0 10px;
				font-weight: bold;
			}
		}
	}
}