//* ========================================================================== */
//* recruit
//* 採用情報
//* ========================================================================== */
.recruit {
	margin-bottom: 40px;
	.content {
		padding-top: 40px;
		.lead {
			margin-bottom: 40px;
			font-family: $mincho;
			text-align: center;
			p {
				font-size: 20px;
			}
			h3 {
				font-size: 30px;
				color: #f60;
			}
		}
		ul {
			margin: 0 -20px;
			overflow: hidden;
			font-size: 0;
			li {
				padding: 0 20px;
				display: inline-block;
				width: 50%;
				box-sizing: border-box;
			}
		}
	}
}